.btn {
    border: none;
    padding: 0.25rem 0.5rem;
    color: #2b2b2b;

    &:hover {
        background-color: cyan;
        color: black;
        cursor: pointer;
    }
}

.btn2 {
    @extend .btn; // Como con las clases
    margin: 0.5rem;
    border-radius: 0.25rem;
}