/* VARIABLES */
$text-color: #000;

/* FORMATOS GLOBALES - MIXINS*/
@mixin formato-texto($bg-color: #f1f1f1) {
    width: 50rem;
    color: $text-color;
    text-transform: uppercase;
    background-color: $bg-color;
}